APP_NAME=EPSS
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=epss_testing
DB_USERNAME=postgres
DB_PASSWORD=
DB_URL=

SESSION_DRIVER=array
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false
CACHE_STORE=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array

SANCTUM_STATEFUL_DOMAINS=127.0.0.1:8000